.loaderWrapper {
  width: 100vw;
  height: 5px;
}

.errorPopup {
  position: fixed;
  top: 20px;
  background-color: rgba(255, 0, 0, 1);
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.errorPopup_active {
  opacity: 1;
}

.tableWrapper {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  top: 30px;
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 53px);
  overflow-x: hidden;

  p {
    color: #fff;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  span {
    color: #fff;
    font-size: 15px
  }

  .table {
    border-collapse: collapse;
    width: calc(100vw - 50px);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    top: 75px;
    position: absolute;
    left: 10px;

    &__head {
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      background-color: azure;
      position: sticky;
      height: 40px;

      span {
        color: #000;
        font-weight: 500;
      }
    }

    tr {
      border-bottom: 1px solid #fff;
    }

    &__item {
      max-width: 135px;
      height: 40px;
      text-align: center;

      input {
        width: 100%;
        color: #fff;
        font-size: 15px;
        border: none;
        background-color: transparent;
        height: 40px;
        text-align: center;
        padding: 0;
      }
    }

    &__itemSmall {
      width: 70px;
    }

    &__itemBig {
      max-width: 175px;
      text-align: center;

      input {
        background-color: transparent;
        color: #fff;
        border: none;
        text-align: center;
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      input::-webkit-calendar-picker-indicator {
        width: 100%;
        position: absolute;
        cursor: pointer;
        opacity: 0;
      }
    }

    &__input:focus {
      outline: none;
    }
  }
}

.tableWrapper::-webkit-scrollbar {
  background: none;
  width: 10px;
  height: 10px;
}

.tableWrapper::-webkit-scrollbar-track {
  background: none;
}

.tableWrapper::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 0px solid rgba(24, 24, 24, 0.795);
  border-radius: 8px;
}

.table__delete {
  cursor: pointer;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 5px;
  border: none;
  align-self: flex-start;
  height: 40px;
  width: 120px;
  margin: 0 20px;
  cursor: pointer;
}